$accentColor = #ff9800
$textColor = #212121
$borderColor = #eaecef

.navbar {
  background: linear-gradient(to left, #ff9800, #ffc107);
  color: #fff;
}

.navbar .site-name {
  color: #fff;
}

.nav-item > a:not(.external):hover,
.nav-item > a:not(.external).router-link-active {
  color: inherit;
  border-bottom-color: #fff;
}

.navbar .icon.outbound {
  color: #fff;
}
